.game[b-yrn33erqs0] {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.footer[b-yrn33erqs0] {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 30px;
}

.score-board[b-yrn33erqs0] {
    font-size: 30px;
}
